<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/header.css"/>
    <link rel="stylesheet" href="css/side-bar-menu.css"/>
    <link rel="stylesheet" href="css/below-header.css"/>
    <link rel="stylesheet" href="css/information-container.css"/>
    <link rel="stylesheet" href="css/body.css"/>
</head>
<body>
    <!--Header-->
    <div class="header-container">
        <p id="header-title">Quản lý khách sạn.</p>
        <a href="../../Login/index.html">User(Owner)</a>
    </div>

<div class="below-header">
    <!--Side Bar Menu-->
    <div class="side-bar-container">
        <p>Menu</p>
        <a href=# class="menu-item"> <span class="menu-icon">&#8962;</span> Home</a>
        <a href="../Rule_Set/main.html" class="menu-item"> <span class="menu-icon">&#9733;</span> Rule set</a>
        <a href="../Insight/main.html" class="menu-item"> <span class="menu-icon">&#128065;</span> Insight</a>
    </div>
    <!--Information: Detail, Vacancy, Notice-->
    <div class="information-container">
        <!--Detail information: Room, Staff, Visitor-->
        <div class="detail">
            <div class="detail-item">
                <p>Room information</p>
                <p>Room occupied: </p><!--Lấy dữ liệu từ DB-->
                <p>Available: </p><!--Lấy dữ liệu từ DB-->
                <p>Reserved: </p><!--Lấy dữ liệu từ DB-->
            </div>
            <div class="detail-item">
                <p>Staff information</p>
                <p>Checked in: </p><!--Lấy dữ liệu từ DB-->
                <p>Absent: </p><!--Lấy dữ liệu từ DB-->
            </div>
            <div class="detail-item">
                <p>Visitor information</p>
                <p>Total: </p><!--Lấy dữ liệu từ DB-->
                <p>Current: </p><!--Lấy dữ liệu từ DB-->
            </div>
            <div class="detail-item"><p>Time: <span id="current-time"></span></p></div>
        </div>
        <!--Hàm lấy thời gian-->
        <script>
            function updateTime() {
                const now = new Date();
                const timeString = now.toLocaleTimeString();
                const dateString = now.toLocaleDateString();
                document.getElementById("current-time").textContent = `${dateString} - ${timeString}`;
            }
    
            setInterval(updateTime, 1000);
            updateTime();
        </script>
        <!--Vacancy and Notice-->
        <div class="vacancies-and-notice">
            <div class="room-status-list">
                <p>Vacancies</p>
                <ul class="list">
                    <!--Lấy dữ liệu từ DB-->
                    <li>A</li>
                    <li>A</li>
                    <li>A</li>
                </ul>
                <p>Reserved</p>
                <ul class="list">
                    <!--Lấy dữ liệu từ DB-->
                    <li>A</li>
                    <li>A</li>
                    <li>A</li>
                </ul>
                <p>Occupied</p>
                <ul class="list">
                    <!--Lấy dữ liệu từ DB-->
                    <li>A</li>
                    <li>A</li>
                    <li>A</li>
                </ul>
            </div>
            <div class="notice">
                <p>Notice</p>
                <ul class="list">
                    <!--Lấy dữ liệu từ DB-->
                    <li>A</li>
                    <li>A</li>
                    <li>A</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>